<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Pet Shop Lomitos - Tienda Virtual</title>
	<!-- Bootstrap core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
	<!-- Fuente de google -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<!-- Iconos Ionicons -->
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>

<body>

	<!-- Header -->
	<div th:include="usuario/template_usuario.html::header"> </div>

	<!-- Page Content -->
	<div id="main-register">
		<div class="container" id="register-fields">
			<div class="card mb-5 mt-0" id="iniciar-sesion">
				<h2>Registro de Usuario</h2>
			</div>
			<form th:action="@{/usuario/save}" method="post" id="register-form">
				<div class="form-group col-14 mb-4">
					<label for="nombres">Nombres y Apellidos:</label> <input type="text" class="form-control" id="nombre"
						name="nombre" required placeholder="Ingrese sus nombres y apellidos" autocomplete="off">
				</div>
				<div class="form-group col-14 mb-4">
					<label for="direccion">Dirección:</label> <input type="text" class="form-control" id="direccion"
						name="direccion" required placeholder="Ingrese su dirección" autocomplete="off">
				</div>
				<div class="form-group col-14 mb-4">
					<label for="email">Email:</label> <input type="email" class="form-control" id="email" name="email"
						required placeholder="Ingrese su email" autocomplete="off">
				</div>	
				<div class="form-group col-14 mb-4">
					<label for="telefono">Teléfono:</label> <input type="number" class="form-control" id="telefono"
						name="telefono" required placeholder="Ingrese su teléfono" autocomplete="off">
				</div>
				<div class="form-group col-14 mb-4">
					<label for="username">Nombre de Usuario:</label> <input type="text" class="form-control" id="username"
						name="username" required placeholder="Ingrese su nombre de usuario" autocomplete="off">
				</div>
				<div class="form-group col-14 mb-5">
					<label for="pwd">Contraseña</label> <input type="password" class="form-control" id="password"
						name="password" required placeholder="Ingrese su contraseña" autocomplete="off">
				</div>
				<div id="register-button">
					<button type="submit" class="btn btn-success col-12">Guardar</button>
				</div>
			</form>
		</div>
	</div>

	<!-- Footer -->
	<div th:include="usuario/template_usuario.html::footer-user"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>