<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Pet Shop Lomitos - Tienda Virtual</title>

	<!-- Bootstrap core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
	<!-- Fuente de google -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<!-- Iconos Ionicons -->
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>

<body>

	<!-- Navigation -->
	<div th:include="administrador/template_admin.html::header-admin"></div>

	<!-- Page Content -->
	<div class="container mb-5" id="cart-container">

		<!-- Page Heading/Breadcrumbs -->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/administrador}">Tienda</a></li>
			<li class="breadcrumb-item active">Listado de Productos</li>
		</ol>
		<div id="admin-buttons">
			<a class="btn btn-success col-lg-3" th:href="@{/administrador/productos/create}">Crear Producto</a>
			<form class="form-inline my-2 my-lg-0 ml-5" method="post" th:action="@{/administrador/productos/search}">
				<input class="form-control form-control mr-sm-3" type="search" placeholder="Ingrese el nombre del producto"
					aria-label="Search" name="nombre" autocomplete="off">
				<button class="btn btn-success btn my-2 my-sm-0" type="submit">Buscar</button>
			</form>
		</div>
		<table class="table table-hover text-center mt-3">
			<thead class="table-dark">
				<tr>
					<th scope="col">Item</th>
					<th scope="col">Nombre</th>
					<th scope="col">Descripción</th>
					<th scope="col">Stock</th>
					<th scope="col">PrecioUnitario</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto:${productos}">
					<td><img th:src="@{/images/{img} (img=${producto.imagen})}" height="100px"></td>
					<td class="align-middle" th:text="${producto.nombre}"></td>
					<td class="align-middle" th:text="${producto.descripcion}"></td>
					<td class="align-middle" th:text="${producto.cantidad}"></td>
					<td class="align-middle"
						th:text="'S/. ' + ${#numbers.formatDecimal(producto.precio, 0, 'COMMA', 2, 'POINT')}"></td>
					<td class="align-middle"><a class="btn btn-success"
							th:href="@{/administrador/productos/edit/{id} (id=${producto.id}) }">Editar</a>
					</td>
					<td class="align-middle"><a class="btn btn-danger"
							th:href="@{/administrador/productos/delete/{id} (id=${producto.id}) }">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div th:include="administrador/template_admin.html::footer-admin"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>