<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Pet Shop Lomitos - Tienda Virtual</title>

	<!-- Bootstrap core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
	<!-- Fuente de google -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<!-- Iconos Ionicons -->
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>

<body>

	<!-- Navigation -->
	<div th:include="administrador/template_admin.html::header-admin"></div>

	<!-- Page Content -->
	<div class="container mb-5" id="cart-container">

		<!-- Page Heading/Breadcrumbs -->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/administrador}">Tienda</a></li>
			<li class="breadcrumb-item"><a th:href="@{/administrador/ordenes}">Listado de Ordenes</a></li>
			<li class="breadcrumb-item active">Detalle de la Orden</li>
		</ol>

		<!-- Blog Post -->
		<div class="card p-0 mb-4">
			<div class="table-responsive col-lg-12">
				<table class="table table-hover text-center mt-3">
					<thead class="table-dark">
						<tr>
							<th scope="col">Item</th>
							<th scope="col">Producto</th>
							<th scope="col">PrecioUnitario</th>
							<th scope="col">Cantidad</th>
							<th scope="col">PrecioTotal</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="detalle:${detalles}">
							<td><img th:src="@{/images/{img} (img=${detalle.imagen})}" height="100px"></td>
							<td class="align-middle" th:text="${detalle.nombre}"></td>
							<td class="align-middle" th:text="'S/. ' + ${#numbers.formatDecimal(detalle.precio, 0, 'COMMA', 2, 'POINT')}"></td>
							<td class="align-middle" th:text="${detalle.cantidad}"></td>			
							<td class="align-middle" th:text="'S/. ' + ${#numbers.formatDecimal(detalle.total, 0, 'COMMA', 2, 'POINT')}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div th:include="administrador/template_admin.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>